<footer layout="row">
    <div class="div-footer">
        <div class="div-grid"> 
            <!-- <div class="div-logo">
                <img class="img-logo" src="../../../assets/logo.png">
            </div>   -->
            <span>
                Projeto desenvolvido por doutorandos do curso de Medicina da Universidade Federal .
            </span>
        </div>
        <div class="div-grid">
            <span>Links Úteis</span>
            <span>SBP</span>
        </div>
        <div class="div-grid">
            <span>Redes Sociais</span>
            <span>Facebook</span>
            <span>Instagram</span>
        </div>
    </div>
    <div style="padding-bottom: 1rem; padding-top: 2rem;">
        <span class="spam-flex-justify" >
            © 2023. Todos os Direitos Reservados.
        </span>
    </div>
  </footer>