<div class="div-shadow">
  <div class="demo-button-container" style="padding-top: 10rem;">
    <button mat-raised-button class="span-toolbar" (click)="openDialog()">
      Adicionar Medicamento
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> 

  <ng-container matColumnDef="Nome">
   <th mat-header-cell *matHeaderCellDef> Nome </th>
   <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
 </ng-container>    
 
 <ng-container matColumnDef="MedicamentoUso">
   <th mat-header-cell *matHeaderCellDef> Medicamento Uso </th>
   <td mat-cell *matCellDef="let element"> {{element.medicamentoUso}} </td>
 </ng-container>    
 
 <ng-container matColumnDef="Tipo">
   <th mat-header-cell *matHeaderCellDef> Tipo </th>
   <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
 </ng-container>    
 
 <ng-container matColumnDef="Dosagem">
   <th mat-header-cell *matHeaderCellDef> Dosagem </th>
   <td mat-cell *matCellDef="let element"> {{element.dosagemTipo}} </td>
 </ng-container>  
 
 <ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef >&nbsp;</th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="editarMedicamentoModal(element); $event.stopPropagation()">
      <mat-icon >edit</mat-icon>      
    </button>
   <button mat-icon-button  (click)="deleteMedicamentoModal(element); $event.stopPropagation()">
     <mat-icon>close</mat-icon>     
   </button>
  </td>
  </ng-container>

<ng-container matColumnDef="expand">
<th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
<td mat-cell *matCellDef="let element">
 <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
   <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
   <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
 </button>
</td>
</ng-container>

<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element; let i = index" [attr.colspan]="columnsToDisplayWithExpand.length" style="padding-bottom: 2rem;">
 <div  class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
  <div class="div-conteudo div-container-1">
    <div >
      <span class="span-flex"><strong>Modo de Uso:</strong></span>
      <ng-container class="span-flex-justify">
        <span>{{element.modoDeUso}}</span>
      </ng-container>
  </div> 
  <div >
      <span class="span-flex"><strong>Apresentações:</strong></span>      
      <ng-container class="span-flex-justify" *ngFor="let mg of element.quantidadeMg; let i = index">
       <div class="span-flex">
         <span>{{ '-' + mg + 'ml/' + element.quantidadeMl[i] + 'mg' }}</span><br>
       </div>
     </ng-container>
  </div>
  <div >
    <span class="span-flex"><strong>Quantidade:</strong></span>
    <ng-container class="span-flex-justify">
      <span>{{element.quantidadeMgKg + 'mg/kg'}}</span>
    </ng-container>
  </div>
  <div >
    <span class="span-flex"><strong>Quantidade de Soro:</strong></span>
    <ng-container class="span-flex-justify">
      <span>{{element.quantidadeSoro + 'ml'}}</span>
    </ng-container>
  </div>
  <div >
    <span class="span-flex"><strong>Número de Doses:</strong></span>
    <ng-container class="span-flex-justify">
      <span>{{element.numeroDoses}}</span>
    </ng-container>
  </div>
  </div>   
   <div class="div-conteudo">
    <div class="div-width" style="padding-right: 1rem;">
      <span class="span-flex"><strong>Contra Indicações:</strong></span>
      <ng-container class="span-flex-justify" *ngFor="let contraIndicacaoItem of element.contraIndicacao">
        <span>{{'-' + contraIndicacaoItem}}</span><br>
      </ng-container>
    </div>
    <div class="div-width">
       <span class="span-flex"><strong>Indicações:</strong></span>
       <ng-container class="span-flex-justify" *ngFor="let indicacaoItem of element.indicacao">
         <span>{{'-' + indicacaoItem}}</span><br>
       </ng-container>
     </div>

   </div>
   <div class="div-conteudo">
     <div class="div-width" style="padding-right: 1rem;">
      <span class="span-flex"><strong>Dose:</strong></span>
      <ng-container class="span-flex-justify" *ngFor="let doseItem of element.dose">
        <span>{{'-' + doseItem.problema}}</span><br>       
        <span *ngIf="doseItem.usoDose?.usoInicial != '' ">
          <strong>"Inicial: "</strong> {{doseItem.usoDose?.usoInicial}}
         </span><br>
         <span *ngIf="doseItem.usoDose?.usoManutencao != '' ">
           <strong>"Manutenção: "</strong>{{ doseItem.usoDose?.usoManutencao}}
         </span><br>
      </ng-container>
    </div>
    <div class="div-width" style="padding-right: 1rem;">
      <span class="span-flex"><strong>Preparo / Diluição:</strong></span>
      <ng-container class="span-flex-justify" *ngFor="let preparoDiluicaoItem of element.preparoDiluicao">
        <span>{{'-' + preparoDiluicaoItem}}</span><br>
      </ng-container>
    </div>
  </div>
  <div  class="div-container-1">
    <div class="div-width">
      <span class="span-flex"><strong>Administração:</strong></span>
      <ng-container class="span-flex-justify" *ngFor="let administracaoItem of element.administracao">
        <span>{{'-' + administracaoItem}}</span><br>
      </ng-container>
    </div>
    <div class="div-width">
      <span class="span-flex"><strong>Uso Durante a Gestação:</strong></span>
      <ng-container class="span-flex-justify" *ngFor="let usoGestacaoItem of element.usoGestacao">
        <span>{{'-' + usoGestacaoItem}}</span><br>
      </ng-container>
    </div>
   </div>
  </div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
 class="example-element-row"
 [class.example-expanded-row]="expandedElement === element"
 (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>

