<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">Pesquisar</span>
        </div>
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo-2">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>  
            <span class="span-font-tipo-2">
                Pesquisar
            </span>
        </div>      
    </div>   
   
   
    <div class="div-conteudo-medicacao">
        <div class="div-shadow">
            <div class="input-filtro">
                <span style=" font-size: 25px;">Todos os Medicamentos e Condutas (A - Z)</span>
                <div>
                    <mat-form-field class="width-input">
                        <mat-label>Pesquisar</mat-label>                          
                        <input matInput placeholder="Ex: Amoxilina">
                        <button  matSuffix mat-icon-button matTooltip="Accent" >
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <hr>
            </div>
            <div class="div-conteudo-medicacao-2 efeito-div" *ngFor="let item of allItens">
                <div class="div-conteudo-flex">
                    <mat-icon class="icon-style">
                        arrow_forward_ios
                    </mat-icon>  
                    <span >
                        {{item.title}}
                    </span>
                    <span class="span-style">
                        {{item.tag}}
                    </span>
                </div>
            </div>               
        </div>
    </div>
</div>