.div-body{
    background:#f8f9fa;
    margin: 0px;

}

.div-header{
    padding: 9rem 9rem 7rem 9rem;
    background: #6c757d;
}

.div-tipo-medicacao{
    display: flex;
    justify-content: center;
}

.div-tipo-medicacao-1{
  display: flex;
  justify-content: center;
  @media (max-width: 500px) {
    display: grid;
    grid-template-columns: 9rem;
  }
}

.span-font-tipo{
    color: #fff;
    font-size: 39px;
    letter-spacing: 2px;
}

.span-font-tipo-2{
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    @media (max-width:500px) {
      display: flex;
      justify-content: center;
    }
}

.div-conteudo-medicacao{
    padding: 4rem 6rem 5rem 6rem;
    background: #fff;
    @media(max-width: 990px){
        padding: 3rem 1rem 2rem 1rem;
    }
}

.div-shadow{
    box-shadow: -3px 3px 12px 3px rgba(50, 50, 50, 0.22);
}

.div-conteudo-medicacao-2{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1px dashed lightgray;
}

.div-conteudo-flex{
    display: flex;
}

.icon-style{
    font-size: 18px;
    font-weight: bolder;
}

.icon-style-2{
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
    @media (max-width:500px) {
      padding-left: 4rem;
    }
}

.efeito-div:hover{
    margin-left: 1rem;
    transition: all 0.4s ease-out;
}

.span-style{
    font-size: 14px;
    color: #6c757d;
    padding-left: 1rem;
}

.input-filtro{
    padding: 2rem;
}

.width-input{
    width: 40%;
    @media(max-width: 990px){
        width: 100%;
    }
}

.tipo-Antibiotico{
  color: #007bff;
}

.tipo-Convulsivante{
  color: #6f42c1;
}

.tipo-Inflamatorio{
  color: #dc3545;
}

.tipo-Fungico{
  color: #ffc107;
}

.tipo-Histaminico{
  color: #28a745;
}

.tipo-Parasitario{
  color: #3bb54a;
}

.tipo-Broncodilatadores{
  color: #6f42c1;
}

.tipo-Corticosteroide{
  color:#007bff;
}

.tipo-Laxativo{
  color: #dc3545;
}

.tipo-Sintomatico{
  color: #fd7e14;
}

.tipo-Hidratacao{
  color: #ffc107;
}

.tipo-Outros{
  color: #28a745;
}




