<div>
    <form>
      <div class="div-flex">       
        <h1 style="text-align: center;">Cadastro de Medicamento</h1>      
      </div>      
      <div class="div-flex">
        <div>
            <label>Medicamento de uso: </label><br>
            <mat-radio-group class="div-mat-form-field">
              <mat-radio-button value="Adulto">Adulto</mat-radio-button>
              <mat-radio-button value="Pediátrico">Pediátrico</mat-radio-button>
            </mat-radio-group>
        </div>
      </div> 
      <div class="div-flex">
        <div>
            <label>Nome do medicamento:</label><br>
            <mat-form-field class="div-mat-form-field" >            
                <input matInput >
            </mat-form-field>
        </div>
      </div> 
      <div class="div-flex">
        <div>
            <label style="text-align: left;">Tipo do medicamento: </label><br>
            <mat-form-field class="div-mat-form-field">
              <mat-select required>
                <mat-option>-- None --</mat-option>
                <mat-option value="Antibiótico">Antibiótico</mat-option>
                <mat-option value="Anti-Convulsivantes">Anti-Convulsivantes</mat-option>
                <mat-option value="Anti-Inflamatórios">Anti-Inflamatórios</mat-option>
                <mat-option value="Anti-Fúngicos">Anti-Fúngicos</mat-option>
                <mat-option value="Anti-Histamínicos">Anti-Histamínicos</mat-option>
                <mat-option value="Anti-Parasitários">Anti-Parasitários</mat-option>
                <mat-option value="Broncodilatadores">Broncodilatadores</mat-option>
                <mat-option value="Corticosteróide">Corticosteróides</mat-option>
                <mat-option value="Laxativos">Laxativos</mat-option>
                <mat-option value="Sintomático">Sintomáticos</mat-option>
                <mat-option value="Hidratação Venosa">Hidratação Venosa</mat-option>
              </mat-select>        
            </mat-form-field>
        </div>  
      </div>
      <div class="div-flex">
        <div>
            <div> 
                <label>Quantidade em mg:</label><br>
                <mat-form-field class="div-mat-form-field">            
                    <input matInput >            
                </mat-form-field>
            </div>
            <div>
                <label>Quantidade em ml:</label><br>
                <mat-form-field class="div-mat-form-field">            
                    <input matInput>            
                </mat-form-field>
            </div>
        </div>
      </div>
      <div class="div-flex">
        <div>
            <label>Modo de uso:</label><br>
            <mat-form-field class="div-mat-form-field">            
                <textarea matInput></textarea>           
            </mat-form-field>
        </div>
      </div>
      <div class="div-flex">
        <div>
            <label>Contra indicação:</label><br>
            <mat-form-field class="div-mat-form-field">  
                <textarea matInput></textarea>   
            </mat-form-field>
        </div>
      </div>
    </form>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Adicionar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
      </mat-dialog-actions>
  </div>
  