.div-flex{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.div-mat-form-field{
    width: 20rem;
}

.div-mat-form-field-grid{
  width: 20rem;
  display: grid;
}

.div-flex-1{
  display: flex;
  justify-content: center;
}



