<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">{{dadosMedicacao.nome}}</span>
        </div>
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>  
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                {{medicamento}}
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>  
            <span class="span-font-tipo-2">
                {{dadosMedicacao.nome}}
            </span>
        </div>      
    </div>
   
    <div class="div-conteudo-medicacao">
       <div class="div-left">
           <div class="div-shadow" >
            <span class="span-style-2">
                Apresentações Disponíveis
            </span>
            <div class="div-conteudo-medicacao-3" style="line-height: 25px;" *ngFor="let dados of dadosMedicacao.apresentacaoDisponivel;">
                <div class="div-conteudo-flex">
                    <mat-icon class="icon-style">
                        arrow_forward_ios
                    </mat-icon>  
                </div>
                   <div class="div-conteudo-grid" >
                       <span style="margin-bottom: 1rem;">
                            {{dados.medicacao + valor + dados.modoUso }}
                       </span>                 
                   </div>
               </div>
           </div>
       </div>
       
        <div class="div-right" >
            <div class="div-shadow" style="margin-bottom: 2rem;">
                <div>
                    <span class="span-style-2">
                        Cálculo Medicamento
                    </span>
                </div>
                <div class="div-calculadora">
                    <mat-form-field class="matFormCalculadora">
                        <mat-label>Peso</mat-label>                          
                        <input matInput placeholder="Ex: 10">
                        <button  matSuffix mat-icon-button matTooltip="Accent" >
                            <mat-icon class="matFormCalculadora">calculate</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- <div 
                class="div-conteudo-medicacao-2" 
                (click)="changeColor($index)"
                *ngFor="let dados of dadosMedicacao.indicacoesClinicas; let $index = index"
                [ngStyle]="{'background-color': selecionarIndex === $index ? selecionarCor : ''}"
                >
                    <div class="div-conteudo-flex">
                        <mat-icon class="icon-style">
                            arrow_forward_ios
                        </mat-icon>  
                        <span 
                        class="efeito-span"
                        [ngStyle]="{'margin-left': selecionarIndex === $index ? '1rem' : ''}">
                        {{dados.indicacao}}
                        </span>
                    </div>
                    <div>
                        <span class="span-style">{{dados.dose}}</span>
                    </div>
                </div> -->
            </div>
            <div class="div-shadow" >
                <span class="span-style-2">
                    Orientações
                </span>
                <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of dadosMedicacao.orientacoes;">
                    <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                        <mat-icon class="icon-style" style="padding-right: 0.5rem; color: red;">
                            close
                        </mat-icon>  
                        <span >
                           {{dados.orieantacao}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>