<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">{{dadosMedicacao.nome}}</span>
        </div>
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                {{medicamento}}
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2">
                {{dadosMedicacao.nome}}
            </span>
        </div>
    </div>

    <div class="div-conteudo-medicacao">
       <div class="div-left">
          <div style="margin-bottom: 1rem;">
            <div class="div-shadow" >
              <span class="span-style-2">
                  Apresentações Disponíveis
              </span>
              <div class="div-conteudo-medicacao-3" style="line-height: 25px;">
                  <div class="div-conteudo-flex">
                      <mat-icon class="icon-style">
                          arrow_forward_ios
                      </mat-icon>
                  </div>
                     <div class="div-conteudo-grid" >
                         <span style="margin-bottom: 1rem;">
                              {{dadosMedicacao.nome + ' ' + dadosMedicacao.quantidadeMg + 'mg/' + dadosMedicacao.quantidadeMl + 'ml - ' + dadosMedicacao.modoDeUso}}
                         </span>
                     </div>
                 </div>
             </div>
          </div>
          <div class="div-shadow" style="margin-bottom: 2rem;">
            <div>
                <span class="span-style-2">
                    Cálculo Medicamento
                </span>
            </div>
            <div class="div-calculadora">
                <mat-form-field class="matFormCalculadora">
                    <mat-label>Peso</mat-label>
                    <input matInput placeholder="Ex: 10">
                    <button  matSuffix mat-icon-button matTooltip="Accent" >
                        <mat-icon class="matFormCalculadora">calculate</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
       </div>
        <div class="div-right" >
          <div class="div-shadow" style="margin-bottom: 1rem;" >
            <span class="span-style-2">
              Indicação
            </span>
            <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of indicacoes">
                <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                    <mat-icon class="icon-style" style="padding-right: 0.5rem; color: rgb(0, 247, 0);">
                        done
                    </mat-icon>
                    <span >
                       {{dados}}
                    </span>
                </div>
            </div>
          </div>
            <div class="div-shadow" >
                <span class="span-style-2">
                    Contra Indicação
                </span>
                <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of contraIndicacoes">
                    <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                        <mat-icon class="icon-style" style="padding-right: 0.5rem; color: red;">
                            close
                        </mat-icon>
                        <span >
                           {{dados}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
