<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">{{item.nome}}</span>
        </div>
        <div class="div-tipo-medicacao-1">
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2" style="cursor:pointer" (click)="back()">
                {{item.tipo}}
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2">
                {{item.nome}}
            </span>
        </div>
    </div>

    <div class="div-conteudo-medicacao">
       <div class="div-left">
          <div style="margin-bottom: 1rem;">
            <div class="div-shadow" >
              <span class="span-style-2">
                  Apresentação Disponível
              </span>
              <div class="div-conteudo-medicacao-3" style="line-height: 25px;"  *ngFor="let dados of dadosMedicamentos">
                  <div class="div-conteudo-flex">
                      <mat-icon class="icon-style">
                          arrow_forward_ios
                      </mat-icon>
                  </div>
                     <div class="div-conteudo-grid">
                         <span style="margin-bottom: 1rem;">
                              {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml'}}
                         </span>
                     </div>
                 </div>
             </div>
          </div>
          <div class="div-shadow" style="margin-bottom: 2rem;">
            <div>
                <span class="span-style-2">
                    Cálculo Medicamento
                </span>
            </div>

            <!-- Calcular os medicamentos em mg/kg/dia -->
            <mat-tab-group *ngIf="item.dosagemTipo === 'mg/kg/dia'">
              <mat-tab>
                <ng-template mat-tab-label>
                  mg/kg/dia
                </ng-template>
                <div name="mg/kg/dia" class="div-calculadora">
                  <mat-form-field class="matFormCalculadora">
                      <mat-label>Peso(Kg)</mat-label>
                      <input matInput type="number" [(ngModel)]="peso" [step]="0.01">
                  </mat-form-field>
                  <mat-form-field class="matFormCalculadora" *ngIf="atendimento === 'Pediatrico'">
                    <mat-label>Idade</mat-label>
                    <input matInput type="number" [(ngModel)]="idade" >
                  </mat-form-field>
                  <mat-form-field class="matFormCalculadora">
                    <mat-label>Dosagem (mg/kg)</mat-label>
                    <input matInput type="number" [(ngModel)]="dosagemMgKg" [step]="0.01">
                </mat-form-field>
                <button  mat-button matTooltip="Accent" (click)="calculoMgKg()">
                  <span>Calcular</span>
                  <mat-icon class="matFormCalculadora">calculate</mat-icon>
                </button>
                <div *ngIf="resultadoMgKg" class="div-result">
                  <div *ngFor="let dados of resultadoMgKg" style="padding-bottom: 1rem;">
                    <span class="font-result" >
                      {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' ml - ' + item.modoDeUso}}
                    </span>
                  </div>
                </div>
              </div>
              </mat-tab>
  
              <mat-tab>
                <ng-template mat-tab-label>
                  mg/Kg
                </ng-template>
                <div name="mcg/kg/min" class="div-calculadora">
                  <mat-form-field class="matFormCalculadora">
                      <mat-label>Peso(Kg)</mat-label>
                      <input matInput type="number" [(ngModel)]="peso" [step]="0.01">
                  </mat-form-field>
                  <mat-form-field class="matFormCalculadora" *ngIf="atendimento === 'Pediatrico'">
                    <mat-label>Idade</mat-label>
                    <input matInput type="number" [(ngModel)]="idade" >
                  </mat-form-field>
                  <mat-form-field class="matFormCalculadora">
                    <mat-label>Volume (ml)</mat-label>
                    <input matInput type="number" [(ngModel)]="volume" [step]="0.01">
                  </mat-form-field>                
                  <button mat-button matTooltip="Accent" (click)="calculoMgKgReverso()">
                    <span>Calcular</span>
                    <mat-icon class="matFormCalculadora">calculate</mat-icon>
                  </button>
                  <div *ngIf="resultadoMgKgReverso" class="div-result">
                    <div *ngFor="let dados of resultadoMgKgReverso" style="padding-bottom: 1rem;">
                      <span class="font-result" >
                        {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' mg/Kg - ' + item.modoDeUso}}
                      </span>
                    </div>
                  </div>
              </div>
              </mat-tab>
            </mat-tab-group>

          <!-- Calcular os medicamentos em mcg/kg/dia(ADULTO E PEDIATRICO) e o calculo reverso-->
          <mat-tab-group *ngIf="item.dosagemTipo === 'mcg/kg/min'">
            <mat-tab>
              <ng-template mat-tab-label>
                mcg/kg/min
              </ng-template>
              <!--CALCULO ADULTO-->
              <div name="mcg/kg/min" class="div-calculadora" *ngIf="atendimento === 'Adulto'">
                <mat-form-field class="matFormCalculadora">
                    <mat-label>Peso(Kg)</mat-label>
                    <input matInput type="number" [(ngModel)]="peso" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Dose a ser administrada (mcg/kg/min)</mat-label>
                  <input matInput type="number" [(ngModel)]="doseCalculo" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(mg)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMg" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(ml)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMl" [step]="0.01" (input)="calculoSolucaoTotal()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Quantidade de soro(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="soroGlicosado" [step]="0.01" (input)="calculoSolucaoTotal()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Solução total(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="solucaoTotal" [step]="0.01" (input)="calculoSoroGlicosado()">
                </mat-form-field>
                <button mat-button matTooltip="Accent" (click)="calculoMcgKg()">
                  <span>Calcular</span>
                  <mat-icon class="matFormCalculadora">calculate</mat-icon>
                </button>
                <div *ngIf="resultadoMcgKg" class="div-result">
                  <div *ngFor="let dados of resultadoMcgKg" style="padding-bottom: 1rem;">
                    <span class="font-result" >
                      {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' ml/h - '  + item.modoDeUso}}
                    </span>
                  </div>
                </div>           
            </div>
            <!--CALCULO PEDIATRICO-->
            <div name="mcg/kg/min" class="div-calculadora" *ngIf="atendimento === 'Pediatrico'">
              <mat-form-field class="matFormCalculadora">
                  <mat-label>Peso(Kg)</mat-label>
                  <input matInput type="number" [(ngModel)]="peso" [step]="0.01">
              </mat-form-field>
              <mat-form-field class="matFormCalculadora">
                <mat-label>Idade</mat-label>
                <input matInput type="number" [(ngModel)]="idade" >
              </mat-form-field>
              <mat-form-field class="matFormCalculadora">
                <mat-label>Dose a ser administrada (mcg/kg/min)</mat-label>
                <input matInput type="number" [(ngModel)]="doseCalculo" [step]="0.01">
              </mat-form-field>
              <mat-form-field class="matFormCalculadora">
                <mat-label>Medicamento(mg)</mat-label>
                <input matInput type="number" [(ngModel)]="medicamentoMg" [step]="0.01">
              </mat-form-field>
              <mat-form-field class="matFormCalculadora">
                <mat-label>Medicamento(ml)</mat-label>
                <input matInput type="number" [(ngModel)]="medicamentoMl" [step]="0.01" (input)="calculoSolucaoTotal()">
              </mat-form-field>          
              <button mat-button matTooltip="Accent" (click)="calculoMcgKgPediatrico()">
                <span>Calcular</span>
                <mat-icon class="matFormCalculadora">calculate</mat-icon>
              </button>
              <div *ngIf="resultadoMcgKgPediatrico" class="div-result">
                <div *ngFor="let dados of resultadoMcgKgPediatrico" style="padding-bottom: 1rem;">
                  <span class="font-result" >
                    {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' ml de adrenalina ' + dados.soroFisologico + ' ml de soro fisologico 0,9% - ' + item.modoDeUso}}
                  </span>
                </div>
              </div>           
          </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                ml/h
              </ng-template>
              <div name="mcg/kg/min" class="div-calculadora">
                <mat-form-field class="matFormCalculadora">
                    <mat-label>Peso(Kg)</mat-label>
                    <input matInput type="number" [(ngModel)]="peso" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora" *ngIf="atendimento === 'Pediatrico'">
                  <mat-label>Idade</mat-label>
                  <input matInput type="number" [(ngModel)]="idade" >
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Vazão (ml/h)</mat-label>
                  <input matInput type="number" [(ngModel)]="vazao" [step]="0.01">
                </mat-form-field>      
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(mg)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMgReverso" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(ml)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMlReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()">
                </mat-form-field>   
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Quantidade de soro(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="soroGlicosadoReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Solução total(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="solucaoTotalReverso" [step]="0.01" (input)="calculoSoroGlicosadoReverso()">
                </mat-form-field>    
                <button mat-button matTooltip="Accent" (click)="calculoMcgKgReverso()">
                  <span>Calcular</span>
                  <mat-icon class="matFormCalculadora">calculate</mat-icon>
                </button>
                <div *ngIf="resultadoMcgKgReverso" class="div-result">
                  <div *ngFor="let dados of resultadoMcgKgReverso" style="padding-bottom: 1rem;">
                    <span class="font-result" >
                      {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' mcg/kg/min - ' + item.modoDeUso}}
                    </span>
                  </div>
                </div>  
            </div>
            </mat-tab>
          </mat-tab-group>

          <!-- Calcular os medicamentos em mcg/min e o calculo reverso-->
          <mat-tab-group *ngIf="item.dosagemTipo === 'mcg/min'">
            <mat-tab>
              <ng-template mat-tab-label>
                mcg/min
              </ng-template>
              <div name="mcg/min" class="div-calculadora">
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Dose a ser administrada (mcg/min)</mat-label>
                  <input matInput type="number" [(ngModel)]="doseCalculo" [step]="0.01">
                </mat-form-field> 
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(mg)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMg" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(ml)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMl" [step]="0.01"(input)="calculoSolucaoTotal()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Quantidade de soro(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="soroGlicosado" [step]="0.01" (input)="calculoSolucaoTotal()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Solução total(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="solucaoTotal" [step]="0.01" (input)="calculoSoroGlicosado()">
                </mat-form-field>               
                <button  mat-button matTooltip="Accent" (click)="calculoMcgMin()">
                  <span>Calcular</span>
                  <mat-icon class="matFormCalculadora">calculate</mat-icon>
                </button>
                <div *ngIf="resultadoMcgMin" class="div-result">
                  <div *ngFor="let dados of resultadoMcgMin" style="padding-bottom: 1rem;">
                    <span class="font-result" >
                      {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' ml/h - ' + item.modoDeUso}}
                    </span>
                  </div>
                </div>           
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                ml/h
              </ng-template>
              <div  name="mcg/kg/min" class="div-calculadora">
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Vazão (ml/h)</mat-label>
                  <input matInput type="number" [(ngModel)]="vazao" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(mg)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMgReverso" [step]="0.01">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Medicamento(ml)</mat-label>
                  <input matInput type="number" [(ngModel)]="medicamentoMlReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Quantidade de soro(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="soroGlicosadoReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()">
                </mat-form-field>
                <mat-form-field class="matFormCalculadora">
                  <mat-label>Solução total(ml) </mat-label>
                  <input matInput type="number" [(ngModel)]="solucaoTotalReverso" [step]="0.01" (input)="calculoSoroGlicosadoReverso()">
                </mat-form-field>
                <button mat-button matTooltip="Accent" (click)="calculoMcgMinReverso()">
                  <span>Calcular</span>
                  <mat-icon class="matFormCalculadora">calculate</mat-icon>
                </button>
                <div *ngIf="resultadoMcgMinReverso" class="div-result">
                  <div *ngFor="let dados of resultadoMcgMinReverso" style="padding-bottom: 1rem;">
                    <span class="font-result" >
                      {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml : ' + dados.resultado + ' mcg/min - '  + item.modoDeUso}}
                    </span>
                  </div>
                </div> 
            </div>
            </mat-tab>
          </mat-tab-group>
        </div>
       </div>
        <div class="div-right" >
            <div class="div-shadow" style="margin-bottom: 1rem;" >
              <span class="span-style-2">
                Indicação
              </span>
              <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of indicacoes">
                  <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                      <mat-icon class="icon-style icon-style-done">
                          done
                      </mat-icon>
                      <span >
                        {{dados}}
                      </span>
                  </div>
              </div>
            </div>
            <div class="div-shadow" style="margin-bottom: 1rem;">
              <span class="span-style-2">
                Dose
              </span>
              <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of dosagem">
                  <div class="div-conteudo-flex" style="margin-bottom: 1rem; display: grid;">
                    <span >
                      {{dados.problema}}
                    </span>
                    <span *ngIf="dados.usoDose.usoInicial != '' ">
                    <strong>Inicial: </strong> {{dados.usoDose.usoInicial}}
                    </span>
                    <span *ngIf="dados.usoDose.usoManutencao != '' ">
                      <strong>Manutenção: </strong>{{ dados.usoDose.usoManutencao}}
                    </span>
                  </div>
              </div>
          </div>
          <div class="div-shadow" style="margin-bottom: 1rem;">
            <span class="span-style-2">
              Preparo / Diluição
            </span>
            <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of preparoDiluicao">
                <div class="div-conteudo-flex" style="margin-bottom: 1rem;">                  
                    <span >
                      {{dados}}
                    </span>
                </div>
            </div>
        </div>
        <div class="div-shadow" style="margin-bottom: 1rem;">
          <span class="span-style-2">
            Administração
          </span>
          <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of administracao">
              <div class="div-conteudo-flex" style="margin-bottom: 1rem;">                 
                  <span >
                    {{dados}}
                  </span>
              </div>
          </div>
      </div>
      <div class="div-shadow" style="margin-bottom: 1rem;">
        <span class="span-style-2">
            Contra Indicação
        </span>
        <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of contraIndicacoes">
            <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                <span >
                  {{dados}}
                </span>
            </div>
        </div>
    </div>        
    <div class="div-shadow" style="margin-bottom: 1rem;">
      <span class="span-style-2">
        Uso Durante a Gestação
      </span>
      <div class="div-conteudo-medicacao-3" style="display: grid;" *ngFor="let dados of usoGestacao">
          <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
              <!-- <mat-icon class="icon-style icon-style-close">
                  close
              </mat-icon> -->
              <span >
                {{dados}}
              </span>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
