<div class="div-body">
        <div class="display-mobile">
            <div style="display: flex">
                <div class="div-baby-doctor">
                    <span style="font-size: 49px">Quando Eles Chegarem: Baby Doctor</span><br>
                    <span style="font-size: 24px">Tudo que você precisa saber para manejar seus pacientes na palma de sua mão </span>
                </div>
                <span style="width: 60%">
                    <img class="image-container" *ngIf="imagem" src="../../../assets/logomedicina.jpg">
                    <img class="image-container" *ngIf="!imagem" src="../../../assets/bebe.jpg">
                </span>
            </div>
        </div>
        <div style="padding-bottom: 4rem;">
            <div class="div-calculo-dose-2">
                <span class="spam-flex-justify" style="font-size: 35px">Cálculo de Doses</span><br>
                <span class="spam-flex-justify" style="font-size: 18px">As principais medicações divididas por categorias, para auxiliá-lo nas suas condutas diárias.</span>
            </div>
            <div class="div-calculo-dose-cards">
                <div class="div-calculo-dose">
                    <div class="card card-border-1" routerLink="/pesquisa">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">search</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">Pesquisar...</p>
                        </div>
                    </div>
                    <div class="card card-border-2"  routerLink="/lista-antibiotico">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">coronavirus</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTIBIÓTICO</p>
                        </div>
                    </div>
                    <div class="card card-border-3" routerLink="/lista-anti-convulsivantes">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">psychology</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTI-CONVULSIVANTES</p>
                        </div>
                    </div>
                    <div class="card card-border-4" routerLink="/lista-anti-inflamatorio">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">fire_extinguisher</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTI-INFLAMATÓRIOS</p>
                        </div>
                    </div>
                    <div class="card card-border-5" routerLink="/lista-anti-fungicos">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">park</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTI-FÚNGICOS</p>
                        </div>
                    </div>
                    <div class="card card-border-6" routerLink="/lista-anti-histamicos">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">soap</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTI-HISTAMÍNICOS</p>
                        </div>
                    </div>
                    <div class="card card-border-7" routerLink="/lista-anti-parasitarios">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">adb</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">ANTI-PARASITÁRIOS</p>
                        </div>
                    </div>
                    <div class="card card-border-8" routerLink="/lista-broncodilatadores">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">coronavirus</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">BRONCODILATADORES</p>
                        </div>
                    </div>                 
                    <div class="card card-border-9" routerLink="/lista-corticosteroides">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">coronavirus</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">CORTICOSTERÓIDES</p>
                        </div>
                    </div>
                    <div class="card card-border-10" routerLink="/lista-laxativos">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">coronavirus</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">LAXATIVOS</p>
                        </div>
                    </div>
                    <div class="card card-border-11" routerLink="/lista-sintomaticos">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">sick</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">SINTOMÁTICOS</p>
                        </div>
                    </div>
                    <div class="card card-border-12" routerLink="/lista-hidratacao-venosa">
                        <div class="div-flex-center">                            
                            <mat-icon class="icon-calculo">water_drop</mat-icon>
                        </div>
                        <div class="div-flex-center">
                            <p class="div-calculo-dose-cards">HIDRATAÇÃO VENOSA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="image-container-1">
            <div>
                <span class="spam-flex-justify" style="font-size: 35px">Puericultura</span><br>
                <span class="spam-flex-justify" style="font-size: 18px">Destacamos os pontos fundamentais para auxiliá-lo no acompanhamento de seus pacientes, de maneira rápida e eficaz.</span>
            </div>
            <div class="div-puericultura">
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
            </div>
        </div> -->
    </div>
    



  