<div class="div-home">
        <app-navbar></app-navbar>
        <div class="display-mobile">
            <div style="display: flex">
                <div class="div-baby-doctor">
                    <span style="font-size: 49px">Quando Eles Chegarem: Baby Doctor</span><br>
                    <span style="font-size: 24px">Tudo que você precisa saber para manejar seus pacientes pediátricos, na palma de sua mão </span>
                </div>
                <span style="width: 60%">
                    <img class="image-container" 
                    src="../../../assets/bebe.jpg">
    
                </span>
            </div>
        </div>
        <div style="padding-bottom: 4rem;">
            <div class="div-calculo-dose-2">
                <span class="spam-flex-justify" style="font-size: 35px">Cálculo de Doses Pediátricos</span><br>
                <span class="spam-flex-justify" style="font-size: 18px">As principais medicações usadas na pediatria,divididas por categorias, para auxiliá-lo nas suas condutas diárias.</span>
            </div>

            
            <div class="div-calculo-dose-cards">
                <div class="div-calculo-dose">
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                    <div class="card card-border">
                        <div>
                            <h2 class="div-calculo-dose-cards">Monetização</h2>
                        </div>
                        <div>
                            <p class="div-calculo-dose-cards">Configure a monetização</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container-1">
            <div>
                <span class="spam-flex-justify" style="font-size: 35px">Puericultura</span><br>
                <span class="spam-flex-justify" style="font-size: 18px">Destacamos os pontos fundamentais para auxiliá-lo no acompanhamento de seus pacientes, de maneira rápida e eficaz.</span>
            </div>
            <div class="div-puericultura">
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
                <button class="cards-button" mat-flat-button>Basic</button>
            </div>
        </div>
        <app-footer></app-footer>
</div>



  