<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">
                <!-- {{item.nome}} -->
            </span>
        </div>
        <div class="div-tipo-medicacao-1">
            <span class="span-font-tipo-2" style="cursor:pointer">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2" style="cursor:pointer" >
                <!-- {{item.tipo}} -->
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2">
                <!-- {{item.nome}} -->
            </span>
        </div>
    </div>

    <div class="div-conteudo-medicacao">
       <div class="div-left">
          <div style="margin-bottom: 1rem;">
            <div class="div-shadow" >
              <span class="span-style-2">
                  Apresentação Disponível
              </span>
              <div class="div-conteudo-medicacao-3" style="line-height: 25px;" >
                  <div class="div-conteudo-flex">
                      <mat-icon class="icon-style">
                          arrow_forward_ios
                      </mat-icon>
                  </div>
                     <div class="div-conteudo-grid">
                         <span style="margin-bottom: 1rem;">
                              <!-- {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml'}} -->
                         </span>
                     </div>
                 </div>
             </div>
          </div>
          <div class="div-shadow" style="margin-bottom: 2rem;">
            <div>
                <span class="span-style-2">
                    Cálculo Medicamento
                </span>
            </div>

           
        </div>
       </div>
        <div class="div-right" >
            <div class="div-shadow" style="margin-bottom: 1rem;" >
              <span class="span-style-2">
                Indicação
              </span>
              <div class="div-conteudo-medicacao-3" style="display: grid;" *>
                  <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                      <mat-icon class="icon-style icon-style-done">
                          done
                      </mat-icon>
                      <span >
                        <!-- {{dados}} -->
                      </span>
                  </div>
              </div>
            </div>
            <div class="div-shadow" style="margin-bottom: 1rem;">
              <span class="span-style-2">
                Dose
              </span>
              <div class="div-conteudo-medicacao-3" style="display: grid;" >
                  <div class="div-conteudo-flex" style="margin-bottom: 1rem; display: grid;">
          
                  </div>
              </div>
          </div>
          <div class="div-shadow" style="margin-bottom: 1rem;">
            <span class="span-style-2">
              Preparo / Diluição
            </span>
            <div class="div-conteudo-medicacao-3" style="display: grid;" >
                <div class="div-conteudo-flex" style="margin-bottom: 1rem;">                  
                    <span >
                      <!-- {{dados}} -->
                    </span>
                </div>
            </div>
        </div>
        <div class="div-shadow" style="margin-bottom: 1rem;">
          <span class="span-style-2">
            Administração
          </span>
          <div class="div-conteudo-medicacao-3" style="display: grid;" >
              <div class="div-conteudo-flex" style="margin-bottom: 1rem;">                 
                  <span >
                    <!-- {{dados}} -->
                  </span>
              </div>
          </div>
      </div>
      <div class="div-shadow" style="margin-bottom: 1rem;">
        <span class="span-style-2">
            Contra Indicação
        </span>
        <div class="div-conteudo-medicacao-3" style="display: grid;" >
            <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
                <span >
                  <!-- {{dados}} -->
                </span>
            </div>
        </div>
    </div>        
    <div class="div-shadow" style="margin-bottom: 1rem;">
      <span class="span-style-2">
        Uso Durante a Gestação
      </span>
      <div class="div-conteudo-medicacao-3" style="display: grid;" >
          <div class="div-conteudo-flex" style="margin-bottom: 1rem;">
         
              <span >
                <!-- {{dados}} -->
              </span>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>

