<div class="div-body">
    <div class="div-header" id="header-lista">
        <div class="div-tipo-medicacao">
            <span class="span-font-tipo">
                <!-- {{item.nome}} -->
            </span>
        </div>
        <div class="div-tipo-medicacao-1">
            <span class="span-font-tipo-2" style="cursor:pointer">
                Página Inicial
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2" style="cursor:pointer">
                <!-- {{item.tipo}} -->
            </span>
            <mat-icon class="icon-style-2">
                arrow_forward_ios
            </mat-icon>
            <span class="span-font-tipo-2">
                <!-- {{item.nome}} -->
            </span>
        </div>
    </div>


    <div class="div-conteudo-medicacao">
        <div class="div-left">
            <div style="margin-bottom: 1rem;">
                <div class="div-shadow">
                    <span class="span-style-2">
                       CÁLCULO
                    </span>
                    <div class="div-conteudo-medicacao-4" style="line-height: 25px;">
                        <mat-form-field class="matFormCalculadora">
                            <mat-label>Peso(Kg)</mat-label>
                            <input matInput type="number" [step]="0.01" (input)="calcularSoma()" [(ngModel)]="peso">
                        </mat-form-field>
                        <mat-form-field class="matFormCalculadora">
                            <mat-label>Idade</mat-label>
                            <input matInput type="number" >
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <div class="div-shadow div-bottom-height">
                <div class="div-shadow div-bottom-height">
                    <div style="margin-bottom: 2rem;">
                        <span class="span-style-2">
                            VIA AÉREA E DESFIB
                        </span>
                            <div class="div-conteudo-medicacao-3" style="display: grid;">
                                <div class="div-conteudo-flex div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Tamanho do TE: </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="div-conteudo-flex div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Profundidade do TE: </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="div-conteudo-flex div-margin-bottom div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Lâmina de laringoscopia: </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="div-conteudo-flex div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Tamanho da LMA: </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="div-conteudo-flex div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Desfibrilação (2-4J/kg): </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="div-conteudo-flex div-margin-bottom">
                                    <div class="div-flex-column">
                                        <span>
                                            <b>Sincronização.Cardioversão (0,5→1→2J/kg): </b>
                                        </span>
                                    </div>
                                    <div class="div-font-size">
                                        <span>
                                            <span> --</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
            </div>    
            <div class="div-shadow div-bottom-height">
                <span class="span-style-2">
                    MEDICAMENTOS PARA INTUBAÇÃO
                </span>
                <div class="div-conteudo-medicacao-3" style="display: grid;">
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">

                                <span>
                                    <b>Cetamina </b> (1mg/kg):
                                </span>
                                <span> Preparação=10mg/ml</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.KETAMINE  }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Midazolam (0,1mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Midazolam </b> (0,1mg/kg):
                                </span>
                                <span> Preparação=5mg/ml</span>
                                <span> Dose máxima = 5mg</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.MIDAZOLAM  > 5 ? 5 : dosagens.MIDAZOLAM}} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Fentanil (1micrograma/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Fentanil </b> (1 micrograma/kg):
                                </span>
                                <span> Preparação=50 micrograma/ml</span>
                                <span> Dose máxima = 100 micrograma</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.FENTANYL > 100 ? 100 : dosagens.FENTANYL }} micrograma</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Morfina (0,1mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Morfina </b> (0,1mg/kg):
                                </span>
                                <span> Preparação=15mg/ml</span>
                                <span> Dose máxima = 10mg</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.MORPHINE > 10 ? 10 : dosagens.MORPHINE }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Etomidato (0,3mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Etomidato </b> (0,3mg/kg):
                                </span>
                                <span> Preparação=2mg/ml</span>
                                <span> Dose máxima = 20mg</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.ETOMIDATE > 20 ? 20 :  dosagens.ETOMIDATE}} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Propofol (1mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Propofol </b> (1mg/kg):
                                </span>
                                <span> Preparação=10mg/ml</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.PROPOFOL }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Rocurônio (1mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Rocurônio </b> (1mg/kg):
                                </span>
                                <span> Preparação=10mg/ml</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.ROCURONIUM }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Suxametônio (1,5mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Suxametônio </b> (1,5mg/kg):
                                </span>
                                <span> Preparação=50mg/ml</span>
                                <span> Dose máxima = 100mg</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.SUXAMETHONIUM > 100 ? 100 : dosagens.SUXAMETHONIUM  }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
            
                        <!-- Neostigmina (0,05mg/kg): -->
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                                <span>
                                    <b>Neostigmina </b> (0,05mg/kg):
                                </span>
                                <span> Preparação=2.5mg/ml</span>
                                <span> Dose máxima=2.5mg</span>
                            </div>
                            <div class="div-font-size">
                                <span>
                                    <b>{{ dosagens.NEOSTIGMINE  > 2.5 ? 2.5 : dosagens.NEOSTIGMINE }} mg</b>
                                    <span> = __ ml</span>
                                </span>
                            </div>
                        </div>
                </div>
            </div>

            <div class="div-shadow div-bottom-height div-bottom-height">
                <span class="span-style-2">
                    EQUIPAMENTOS UTILIZADOS NA EMERGÊNCIA
                </span>
                <div class="div-conteudo-medicacao-3" style="display: grid;" >
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Bolsa-valva de ressuscitação</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                 {{bolsaValvaRessuscitacao}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Máscara de O²</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{mascaraO2}}
                              </span>
                           </div>
                        </div>
        
                        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Cânula Oro-faríngea</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{canulaOroFaringea}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Lâmina de laringoscópio</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{laminaLaringoscopio}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Cânula Traqueal(mm)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{canulaTraqueal}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Comprimento da cânula traqueal(cm lábio)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{comprimentoCanulaTraqueal}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Fio guia (F)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{fioGuia}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Sonda de aspiração (F)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{sondaAspiracao}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Manguito de PA</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{manguitoPA}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Catéter EV (ga)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{cateterEV}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Intra-óssea (ga)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{intraOssea}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Sonda nasogástica (F)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{sondaNasogastrica}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Sonda urinária (F)</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{sondaUrinaria}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom" >
                            <div class="div-flex-column">
                              <span>
                                  <b>Pás de desfibrilação / Cardioversão</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{pasDesfibrilacoe}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Dreno torácico</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{drenoToracico}}
                              </span>
                           </div>
                        </div>
        
                        <div class="div-conteudo-flex div-margin-bottom">
                            <div class="div-flex-column">
                              <span>
                                  <b>Máscara laríngea</b>
                              </span>
                            </div>
                           <div class="div-font-size">
                              <span>
                                {{mascaraLaringea}}
                              </span>
                           </div>
                        </div>
                </div>   
                </div>             
            </div>

        <div class="div-right">
            <div class="div-shadow" style="margin-bottom: 1rem; width: 100%;">
                <span class="span-style-2">
                    EMERGÊNCIAS
                </span>
                <div class="div-conteudo-medicacao-3" style="display: grid;">
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span>
                                <b>Adrenalina </b>
                                <span style="text-decoration: underline;">1:10.10000 </span>
                                <b style="color: red;">IV/IO </b>
                                (0,01mg/kg):
                            </span>
                            <span>
                                para
                                <b style="color: red;">PARADA CARDÍACA</b>
                                (usar formulação 1:10.000, 0,1mg/ml)
                            </span>
                            <span>Dose máxima = 1mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.ADRENALINE_IV_IO > 1 ? 1 : dosagens.ADRENALINE_IV_IO}} mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span>
                                <b>Adrenalina </b>
                                <span style="text-decoration: underline;">1:10.10000 </span>
                                <b style="color: red;">TE </b>
                                (0,01mg/kg):
                            </span>
                            <span>
                                para
                                <b style="color: red;">PARADA CARDÍACA</b>
                                (usar formulação 1:10.000, 0,1mg/ml)
                            </span>
                            <span>Dose máxima = 2.5mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.ADRENALINE_ET > 2.5 ? 2.5 : dosagens.ADRENALINE_ET}}mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span>
                                <b>Adrenalina </b>
                                <span style="text-decoration: underline;">1:10.10000 </span>
                                <b style="color: red;">IM </b>
                                (0,01mg/kg):
                            </span>
                            <span>
                                para
                                <b style="color: red;">PARADA CARDÍACA</b>
                                (usar formulação 1:10.000, 0,1mg/ml)
                            </span>
                            <span>Dose máxima = Pré-púbere: 0.3mg/Adolescente: 0.5mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                //TODO
                                <b>{{ dosagens.ADRENALINE_IM > 0.5 ? 0.5 : dosagens.ADRENALINE_IM }}mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Atropina </b> (0,02mg/kg):</span>
                            <span> Preparação = 0.6mg/ml</span>
                            <span>Dose mínima = 0,1mg, dose máx = Criança: 0,5mg/Adolescente: 1mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                //TODO
                                <b>{{ dosagens.ATROPINE > 0.5 ? 0.5 : dosagens.ATROPINE }}mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Amiodarona </b> (5mg/kg):</span>
                            <span> Preparação = 50mg/ml</span>
                            <span>Dose máxima = 300mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>

                                <b>{{ dosagens.AMIODARONE > 300 ? 300 : dosagens.AMIODARONE }}mg</b>

                                <b>__mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>ATP </b> (0,167mg/kg):</span>
                            <span> Preparação = 10mg/ml</span>
                            <span>Dose máxima = 20mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>__mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>ATP </b> (0,167mg/kg):</span>
                            <span> Preparação = 10mg/ml</span>
                            <span>Dose máxima = 20mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.AMIODARONE > 300 ? 300 : dosagens.AMIODARONE }}mg</b>
                                <b>__mg</b>

                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>ATP </b> (0,167mg/kg):</span>
                            <span> Preparação = 10mg/ml</span>
                            <span>Dose máxima = 20mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.ATP   > 20 ? 20 : dosagens.ATP }}mg</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Gluconato de cálcio 10% </b> (0,5ml/kg):</span>
                            <span> Dose máxima = 20ml</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.CALCIUM_GLUCONATE  > 20 ? 20 : dosagens.CALCIUM_GLUCONATE  }} ml</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Dextrose (D10) (2.5ml/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Dextrose (D10) </b> (2.5ml/kg):</span>
                            <span> Bebês e crianças pequenas</span>
                            <span> Dose máxima = 250ml</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.DEXTROSE_D10  > 250 ? 250 : dosagens.DEXTROSE_D10}}ml</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Dextrose (D50) (0.5ml/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Dextrose (D50) </b> (0.5ml/kg):</span>
                            <span> Crianças mais velhas e adolescentes</span>
                            <span> Dose máxima = 50ml</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.DEXTROSE_D50 > 50 ? 50 : dosagens.DEXTROSE_D50 }} ml</b>
                                <span> = __ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Flumazenil (0,01mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Flumazenil </b> (0,01mg/kg):</span>
                            <span> Preparação=0.1mg/ml</span>
                            <span> Dose máxima=0.2mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.FLUMAZENIL > 0.2 ? 0.2 : dosagens.FLUMAZENIL }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Lignocaína 2% (1mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Lignocaína 2% </b> (1mg/kg):</span>
                            <span> Preparação=20mg/ml</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.LIGNOCAINE }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Lorazepam (0,1mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Lorazepam </b> (0,1mg/kg):</span>
                            <span> Preparação=2mg/ml</span>
                            <span> Dose máxima = 4mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.LORAZEPAM > 4 ? 4 : dosagens.LORAZEPAM }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Midazolam (0,1mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Midazolam </b> (0,1mg/kg):</span>
                            <span> Preparação=5mg/ml</span>
                            <span> Dose máxima = 5mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.MIDAZOLAM > 5 ? 5 : dosagens.MIDAZOLAM }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- MgSO4 50% (40mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>MgSO4 50% </b> (40mg/kg):</span>
                            <span> Preparação=2500mg/5ml</span>
                            <span> Diluir 3x com D5 (completar até __ml com D5)</span>
                            <span> Dose máxima = 2000mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.MgSO4_50 > 2000 ? 2000 : dosagens.MgSO4_50  }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <div class="div-conteudo-flex div-margin-bottom">
                        <div style="display: flex; flex-direction: column; font-size:11.5px">
                            <span> <b>Naloxona </b> (0,1mg/kg):</span>
                            <span> Preparação=0.4mg/ml</span>
                            <span> Dose máxima = 2mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.NALOXONE > 2 ? 2 : dosagens.NALOXONE  }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- NaHCO3 8,4% (1ml/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>NaHCO3 8,4% </b> (1ml/kg):</span>
                            <span> Dose máxima = 100ml</span>
                            <span> Lento IV mais de 5-10mins</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.NAHCO3  > 100 ? 100 : dosagens.NAHCO3 }} ml</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>

                    <!-- Procainamida (15mg/kg): -->
                    <div class="div-conteudo-flex div-margin-bottom">
                        <div class="div-flex-column">
                            <span> <b>Procainamida </b> (15mg/kg):</span>
                            <span> Preparação=100mg/ml</span>
                            <span> Diluir 5x com D5 (completar até __ml com D5)</span>
                            <span> Dose máxima = 1000mg</span>
                        </div>
                        <div class="div-font-size">
                            <span>
                                <b>{{ dosagens.PROCANAMIDE > 1000 ? 1000 : dosagens.PROCANAMIDE }} mg</b>
                                <span> = __ ml</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>