@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import 'app/pages/pesquisar/pesquisar.component.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Quicksand", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




